
.navbar {
    color: #FFFFFF;
    background-color: #032f3c;
}

.contenedor{
    
    background-color:#026a81;
    position: relative;
    width: 650px;
    height: 480px;
    left: 680px;
    bottom: 530px;
    margin: 30px 30px 20px 0px;
    padding: 10px 10px 10px;
    border-color: #032f3c;
}

.formulario{

    width: 550px;
    height: 500px;
    margin: 30px 35px;
    padding: 10px 10px;
    border-color: #032f3c;
}
.console{
    position: relative;
    width: 650px;
    height: 600px;
}

.button {
    position: fixed;
    background-color:aliceblue;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    border-right: white;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 15px;
    color: #032f3c;
    margin-top: 20px;
    right: 30px;
}

.container-fluid {
    background-color: #026a81;
}