<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">



<body style="background-color: #2C8870;">

  <section id="banner">
    <img class="imagen-fondo" src="../assets/imagenes/fondo.jpg">
    <div class="contenedor">
      <div class="imagen-user card">
        <i class="far fa-user" style=" font-size: 70px; margin-left: 20%;  margin-top: 15%;"></i>

      </div>

      <br><br>
      <div>
        texto
        <button style="background-color: #3B5998;"type="button" (click)="onLoginFacebook()" class="btn estilo-boton"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;
          Facebook&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <br><br>
        <button type="button" style="background-color: red;"(click)="onLoginGoogle()" class="btn estilo-boton"><i class="fab fa-google"></i>&nbsp;&nbsp;
          Google&nbsp;&nbsp;&nbsp;&nbsp;</button>

      </div>

    </div>
  </section>
</body>