#banner{
    margin-top: 0px;
}

#banner .contenedor{
    background-color: white;
    width: 32%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 33%;
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.contenedor{
    width: 100%;
    margin: auto;
}

header .contenedor{
    display: table;
}


section{
    width: 100%;    
}

.estilo-boton{
    width: 25%;    
    border-radius: 2px;
    border-color:transparent;
    color: white;
    margin-left: 18%;
    margin-top: 0px;
    font-size: 17px;   
    border-radius:10px; 
    border-color:transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


h2{    
    
    color:white;
}

.titulo{
    font-size: 50px;
    float: left;
    font-family: 'Pacifico', cursive;
    
}

.titulo-login{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: 42%;   
    
    
}

.contenedor-botones{
    margin-left: 10%;
}

.vl {
    margin-left: 15%;
    border-right: 2px solid white;
    height: 500px;
    width: 450px;

  }
  
.boton{
    position:relative;
    background-color: transparent;
    border:none;
}