#banner{
    margin-top: 0px;
}

#banner img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#banner .contenedor{
    background-color: white;
    width: 32%;
    height: 50%;
    opacity: 0.6;
    position: absolute;
    top: 20%;
    left: 33%;
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor{
    width: 100%;
    margin: auto;
}

.imagen-user{
    width: 24%;
    height: 35%;
    border-radius: 70px;
    margin-top: -40px;
    margin-left: 37%;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
header .contenedor{
    display: table;
}


section{
    width: 100%;    
}

.estilo-boton{
    width: 87%;
    
    border-radius: 2px;
    border-color:white;
    color: white;
    margin-left: 7%;
    margin-top: 0px;
    font-size: 17px;   
    border-radius:10px; 
    opacity: 1px;
}

h2{
    margin-left: 20%;
}
.imagen-fondo{
    height:100%;
    width: 100%;
    opacity: 0.5;
}
