.navbar {
    color: #FFFFFF;
    background-color: #032f3c;
}

.contenedor{
    
    background-color:#026a81;
    position: relative;
    width: 650px;
    height: 480px;
    left: 680px;
    bottom: 530px;
    margin: 30px 30px 20px 0px;
    padding: 10px 10px 10px;
    border-color: #032f3c;
  
}

#coloring{

    color: white;
    font-size: 25px;
    margin-top: 3px;
 
 }

 .search-box {
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%,-50%);
     background: #2c3e50;
     height: 60px;
     border-radius: 30px;
     padding: 10px
 }

 .search-btn {
     color: #FFFFFF;
     float: right;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: #2c3e50;
     display: flex;
     justify-content: center;
     align-items: center;
 }


.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 600px;
}

#tablaFunciones th {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #026a81;
    color: white;
   
}

#tablaFunciones {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-collapse:collapse;
    border-style: hidden;
    margin-top: 150px;
    width: 100%; 
}
  
#tablaFunciones th {
    border: 1px solid #ddd;
    padding: 8px;
  
}

#tablaFunciones td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

#icon {
    color: #026a81;
    font-size: 20px;
}


