<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-expand-lg navbar-dark">
    <span class="navbar-brand text-light" id="titulo">Skeletons</span>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <div class="search-button">
            <a href="#" class="search-toggle" data-selector="#header-1"></a>
        </div>
        <ul class="navbar-nav ml-auto"> 
                <li class="nav-item">    
                    <a class="nav-link" href="buscar"> 
                        <i class="fas fa-search" id="coloring"></i>   
                    </a>   
                 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> 
                        <i class="fas fa-book"  id="coloring"></i>      
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#"> 
                            <img src="../assets/user.png" alt="">
                        </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>

            </ul>
        </div>
</nav>


<div class="album py-5">
  <div class="container" style="background-color:transparent">
    <div class="row">
      <div *ngFor="let item of funciones" class="col-sm-3">

        <div class="card mb-4 container-func"> 
          <p>{{item.nombre}}</p>
          
          <button (click)="mensaje()" class="boton2" >
            <i class="fas fa-plus" id="coloring"></i>
          
          </button>
        
          <ng-template #template>
            <p><strong>Descripción<br></strong>{{item.descripcion}}</p>
            <p><strong>Depedencias</strong> {{item.dependencias}}</p>
          </ng-template>

          <button class="boton" [tooltip]="template" triggers="focus" placement="right">
            <i class="fas fa-info-circle" id="coloring2"></i> 
          </button>

        </div>
       
      </div>
     
    </div>
  </div>
</div>